###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

.idea
*.iml
*.log
###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
phpunit.xml
###< symfony/phpunit-bridge ###

swagger-doc/*